# Quiz 4 (Morning)

## Question 1 

Write a function called ``mat(r, c)`` that creates a matrix named NEO which has ``r`` rows and ``c`` columns. Each cell should have its row number (1, 2, 3, 4...) assigned to it and each column should have a number (1, 2, 3, 4...) assigned to it as such: row1col1, etc.

Hint : You can use a "double for loop".

Your output should be:

```r
> mat(6, 5)

     [,1]       [,2]       [,3]       [,4]       [,5]      
[1,] "row1col1" "row1col2" "row1col3" "row1col4" "row1col5"
[2,] "row2col1" "row2col2" "row2col3" "row2col4" "row2col5"
[3,] "row3col1" "row3col2" "row3col3" "row3col4" "row3col5"
[4,] "row4col1" "row4col2" "row4col3" "row4col4" "row4col5"
[5,] "row5col1" "row5col2" "row5col3" "row5col4" "row5col5"
[6,] "row6col1" "row6col2" "row6col3" "row6col4" "row6col5"
```

In [4]:
mat <- function(rows, cols){

    NEO <- matrix(nrow = rows, ncol = cols)
    for (r in 1:rows) {
      for (c in 1:cols) {
        NEO[r, c] <- paste("row", r, "col", c, sep = "")  
      }
    }
        return(NEO)

}

## Question 2

Using the "mtcars" data set in R, compute the average horsepower (hp) for each transmission type in the dataset.

Hint : Use the aggregate() function.

Your output should be :
```
   am       hp
1  0 160.2632
2  1 126.8462

```

In [14]:
aggregate(mtcars$hp, by=list(mtcars$am), FUN = mean)

  Group.1 x
1 0       160.2632
2 1       126.8462

In [3]:
average_hp_by_transmission <- aggregate(hp ~ am, data = mtcars, FUN = mean)
print(average_hp_by_transmission)

  am       hp
1  0 160.2632
2  1 126.8462

# Question 3
Answer the following questions using the "mtcars" dataset.

1. View the first 6 rows of the mtcars data set.

2. In the mtcars dataset, create a new data frame containing vehicles with an engine displacement (disp) greater than 200 and display the first 5 rows of this new data frame.

3. Add a new column named Weight_KG to the mtcars dataset. This column should show the weight of the vehicles in kilograms (1 lb = 0.453592 kg). View the updated top 5 lines of mtcars.

4. Calculate and print average mpg values for each cyl (number of cylinders) value.

Your output should be :

```
[1]
                   mpg cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6  225 105 2.76 3.460 20.22  1  0    3    1

[2]
                   mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Hornet 4 Drive    21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360        14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 450SE        16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3

[3]

                  mpg cyl disp  hp drat    wt  qsec vs am gear carb Weight_KG
Mazda RX4         21.0   6  160 110 3.90 2.620 16.46  0  1    4    4  1.188411
Mazda RX4 Wag     21.0   6  160 110 3.90 2.875 17.02  0  1    4    4  1.304077
Datsun 710        22.8   4  108  93 3.85 2.320 18.61  1  1    4    1  1.052333
Hornet 4 Drive    21.4   6  258 110 3.08 3.215 19.44  1  0    3    1  1.458298
Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2  1.560356


[4]
  cyl      mpg
1   4 26.66364
2   6 19.74286
3   8 15.10000
```

In [2]:
#[1]
head(mtcars, 6)

#[2]
disp_over_200 <- subset(mtcars, disp > 200)
head(disp_over_200, 5)

#[3]
mtcars$Weight_KG <- mtcars$wt * 0.453592
head(mtcars, 5)

#[4]
aggregate(mpg ~ cyl, data = mtcars, mean)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Hornet 4 Drive    21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360        14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 450SE        16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb Weight_KG
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4    1.188411
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4    1.304077
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    1.052333
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1    1.458298
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    1.560356

  cyl mpg
1 4   26.66364
2 6   19.74286
3 8   15.10000