# Quiz 1 - Vectors

## Question 1

In order to convert a weight from kilograms to pounds, you need to use a conversion factor of 2.20462. This factor is used because there are approximately 2.20462 pounds in one kilogram.

Convert the following measurements to pounds.

In [ ]:
kilograms <- c(80, 93, 147, 53, 71, 18, 140)

Your output should be:

In [ ]:
176.36960 205.02966 324.07914 116.84486 156.52802  39.68316 308.64680

## Solution 1

In [ ]:
kilograms <- c(80, 93, 147, 53, 71, 18, 140)
pounds <- kilograms * 2.20462
pounds

## Question 2

Ali, Hilal, Yunus, Ayten, Yasin and Azra applied for an internship position. The company will invite three candidates with the highest GPA for an interview. GPA's of candidates are given below:

3.92, 2.78, 3.84, 3.11, 2.97, 3.55

Find out which students the company will select and the students' GPA.

The answer is:

In [ ]:
Ali Yunus  Azra 
3.92  3.84  3.55

## Solution 2

In [ ]:
gpa<-c(3.92 , 2.78 , 3.84 , 3.11 , 2.97 , 3.55)
names(gpa)<-c("Ali","Hilal","Yunus","Ayten","Yasin","Azra")
x <- sort(gpa,decreasing = T)
x[1:3]

## Question 3

Murat and Ayşe are planning to move to another country. Their goal is to move to a country with the highest possible HDI (Human Development Index) value. However, it is usually more difficult to obtain a visa from highly developed countries. Murat and Ayşe narrowed their options to 12 countries. HDI value for those countries are given below:

|Country|HDI|
|------|------|
|Russia|42|
|United States|63|
|China|30|                                    
|Brazil|37|               
|Australia|73|
|India|18|
|Turkey|45|
|France|78|
|Japan|85|
|Venezuela|25|
|Argentina|33|
|Norway|91|

Murat thinks they should choose a country with an HDI value of at least 40 while Ayşe thinks they shouldn't apply to a country whose HDI is higher than 70 because they will be rejected.

To help them come to a decision, show which countries meet the standards put forth by both Murat and Ayşe.

Your output should be:

In [ ]:
Russia Turkey 
    42     45

## Solution 3

In [ ]:
hdi <- c(42,6,30,37,73,18,45,78,85,25,33,91)
names(hdi) <- c("Russia","United States","China","Brazil","Australia","India","Turkey","France","Japan","Venezuela","Argentina","Norway")
hdi <- hdi[hdi >= 40]
hdi <- hdi[hdi <= 70]
hdi

or alternatively:

In [ ]:
hdi <- c(42,6,30,37,73,18,45,78,85,25,33,91)
names(hdi) <- c("Russia","United States","China","Brazil","Australia","India","Turkey","France","Japan","Venezuela","Argentina","Norway")
hdi[hdi >= 40 & hdi <= 70]

## Question 4

Consider the following data:

|Country|Area|Population|
|------|------|------|
|Russia|17,098,242|142,257,519|
|United States|9,833,517|326,625,791|
|China|9,596,960|1,379,302,771|                                    
|Brazil|8,515,770|207,353,391|                
|Australia|7,741,220|23,232,413|
|India|3,287,263|1,281,935,911|
|Turkey|783,562|80,845,215|
|France|643,801|67,106,161|
|Japan|377,915|126,451,398|
|United Kingdom|243,610|65,648,100|

1. Create a vector called **density** that holds the population density of the countries.

2. Print the names of countries sorted by population density, in descending order.

Your outputs should look like this:

In [ ]:
    Russia         US      China     Brazil  Australia      India     Turkey      Japan         UK 
  8.320009  33.215562 143.722884  24.349341   3.001131 389.970596 103.176539 334.602749 269.480317 

"India"     "Japan"     "UK"        "China"     "Turkey"    "US"        "Brazil"    "Russia"    "Australia"

## Solution 4

In [ ]:
#1
area <- c(Russia=17098242, US=9833517, China=9596960,
          Brazil=8515770, Australia=7741220, India=3287263,
          Turkey=783562, Japan=377915, UK=243610)


population <- c(Russia=142257519, US=326625791, China=1379302771,
                Brazil=207353391, Australia=23232413, India=1281935911,
                Turkey=80845215, Japan=126451398,  UK=65648100)

density <- population / area
density

#2
names(sort(density, decreasing=TRUE))