# Quiz 4 (Afternoon)

## Question 1 

Write a function called ``neo(r, c)`` that returns a matrix which has ``r`` rows and ``c`` columns. Each row should have a letter (A, B, C, D...) assigned to it and each column should have a number (1, 2, 3, 4...) assigned to it.

Hint : You can use a "double for loop".

Your output should be:

```r

> neo(10, 10)

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,] "A1" "A2" "A3" "A4" "A5" "A6" "A7" "A8" "A9" "A10"
 [2,] "B1" "B2" "B3" "B4" "B5" "B6" "B7" "B8" "B9" "B10"
 [3,] "C1" "C2" "C3" "C4" "C5" "C6" "C7" "C8" "C9" "C10"
 [4,] "D1" "D2" "D3" "D4" "D5" "D6" "D7" "D8" "D9" "D10"
 [5,] "E1" "E2" "E3" "E4" "E5" "E6" "E7" "E8" "E9" "E10"
 [6,] "F1" "F2" "F3" "F4" "F5" "F6" "F7" "F8" "F9" "F10"
 [7,] "G1" "G2" "G3" "G4" "G5" "G6" "G7" "G8" "G9" "G10"
 [8,] "H1" "H2" "H3" "H4" "H5" "H6" "H7" "H8" "H9" "H10"
 [9,] "I1" "I2" "I3" "I4" "I5" "I6" "I7" "I8" "I9" "I10"
[10,] "J1" "J2" "J3" "J4" "J5" "J6" "J7" "J8" "J9" "J10"
```

In [10]:
neo <- function(r,c){

NEO <- matrix(nrow = r, ncol = c)
for (i in 1:c) {
  for (x in 1:r) {
    NEO[x, i] <- paste(toupper(letters[x]), i, sep = "")  
  }
}
    return(NEO)

}

## Question 2

Answer the following question using the "mtcars" dataset.

Your code has to find the difference between maximum and minimum horsepower (hp) based on Engine (0 = V-shaped, 1 = straight) (vs). 

There are two types of cars: Engine v-shaped (vs = 0) and Engine straight (vs = 1). 

For each type of car, your code should find the difference between maximum and minimum horsepower (maximum horsepower - minimum horsepower). Then you should sort the answer according to horsepower, from highest to lowest. 

There are different ways to solve the question. 

* You can use the function aggregate.

Your output should be :

```
 vs  hp
1  0 244
2  1  71
```

In [1]:
a <- aggregate(hp ~ vs, data = mtcars, function(x) max(x) - min(x))
  
a[order(a$hp, decreasing = TRUE),]

  vs hp
1 0  244
2 1   71

## Question 3
Write an R function called analyze_mtcars that takes the mtcars data frame as input. The function should perform the following tasks:

1-Calculate and return the average miles per gallon (mpg) for all cars.
2-Create a new column named "Fuel_Efficiency" in the mtcars data frame based on the following criteria:
"Low" for cars with mpg less than the average mpg.
"Moderate" for cars with mpg equal to or higher than the average mpg.

Your output should be :
```
$`Average MPG`
[1] 20.09062

$`mtcars Data with Fuel_Efficiency`
                     mpg cyl  disp  hp drat    wt  qsec vs am gear carb Fuel_Efficiency
Mazda RX4           21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4        Moderate
Mazda RX4 Wag       21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4        Moderate
Datsun 710          22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1        Moderate
Hornet 4 Drive      21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1        Moderate
Hornet Sportabout   18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2             Low
Valiant             18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1             Low
Duster 360          14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4             Low
Merc 240D           24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2        Moderate
Merc 230            22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2        Moderate
Merc 280            19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4             Low
Merc 280C           17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4             Low
Merc 450SE          16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3             Low
Merc 450SL          17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3             Low
Merc 450SLC         15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3             Low
Cadillac Fleetwood  10.4   8 472.0 205 2.93 5.250 17.98  0  0    3    4             Low
Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82  0  0    3    4             Low
Chrysler Imperial   14.7   8 440.0 230 3.23 5.345 17.42  0  0    3    4             Low
Fiat 128            32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1        Moderate
Honda Civic         30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2        Moderate
Toyota Corolla      33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1        Moderate
Toyota Corona       21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1        Moderate
Dodge Challenger    15.5   8 318.0 150 2.76 3.520 16.87  0  0    3    2             Low
AMC Javelin         15.2   8 304.0 150 3.15 3.435 17.30  0  0    3    2             Low
Camaro Z28          13.3   8 350.0 245 3.73 3.840 15.41  0  0    3    4             Low
Pontiac Firebird    19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2             Low
Fiat X1-9           27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1        Moderate
Porsche 914-2       26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2        Moderate
Lotus Europa        30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2        Moderate
Ford Pantera L      15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4             Low
Ferrari Dino        19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6             Low
Maserati Bora       15.0   8 301.0 335 3.54 3.570 14.60  0  1    5    8             Low
Volvo 142E          21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2        Moderate

```

In [2]:
analyze_mtcars <- function(mtcars_data) {
 
  average_mpg <- mean(mtcars_data$mpg)
  
 
  mtcars_data$Fuel_Efficiency <- ifelse(mtcars_data$mpg < average_mpg, "Low", "Moderate")
  
  
  result_list <- list(
    "Average MPG" = average_mpg,
    "mtcars Data with Fuel_Efficiency" = mtcars_data
  )
  
  return(result_list)
}