# Quiz 1 - Vectors

## Question 1

Suppose you have two vectors x and y with the following data:

In [1]:
x <- c(1, 2, 3, 4, 5)
y <- c(2, 3, 5, 6, 7)

What is the dot product of x and y?

The answer should be:

In [ ]:
82

## Solution 1

The dot product of two vectors x and y is defined as the sum of the products of corresponding entries in the vectors. In other words:

x . y = x1 * y1 + x2 * y2 + ... + xn * yn

We can use the **sum** function with vectorized multiplication.

In [ ]:
x <- c(1, 2, 3, 4, 5)
y <- c(2, 3, 5, 6, 7)

dot_prod <- sum(x * y)
dot_prod

## Question 2

MGM's one week weather estimations are respectively 15,16,13,15,14,14,17 C° from Sunday to Saturday. Measured temperatures for that week are 17 C° for each day. 

1. Find the average difference between estimations and real values and round it to 2 decimal places. 
2. Which forecasts coincide with the actual temperature?

Your outputs should be:

In [ ]:
-2.14

Saturday 
      17

## Solution 2

In [ ]:
#1
estimations <- c(Sunday=15, Monday=16, Tuesday=13, Wednesday=15, Thursday=14, Friday=14, Saturday=17)
mean_error <- round(mean(estimations - 17),2)
mean_error

#2
estimations[estimations-17 == 0]

## Question 3

Elif and Berkay are students of economics in Boğaziçi University. They are conducting a research about developing countries in their EC208 class. They have a dataset, given below; about some countries' exchange rate vs US Dollars and the subcontinents they are on. The teacher asks Elif to present the exchange rates of all Asian countries on the list in ascending order whereas he asks Berkay to present the exchange rates of all European countries on the list in descending order. 


|Country|Exchange Rate|Region|
|------|------|------|
|Singapore|1.4|Southeast Asia|
|Albania|113|Eastern Europe|
|Argentina|130.6|South America|                                
|Hong Kong|7.8|East Asia|               
|Portugal|0.9|Southern Europe|
|Korea|1291.4|East Africa|
|Madagascar|4096.1|East Africa|
|Morocco|10.2|North Africa|
|Indonesia|14849.9|Southeast Asia|
|Saudi Arabia|3.8|Middle East Asia|
|Slovakia|72.5|Eastern Europe|


Your output should be:

In [ ]:
Singapore Saudi Arabia    Hong Kong   Korea      Indonesia 
  1.4          3.8          7.8       1291.4      14849.9 

Albania Slovakia Portugal 
   113.0   72.5    0.9

## Solution 3

In [ ]:
exchange_rates <- c(1.4, 113, 130.6, 7.8, 0.9, 1291.4, 4096.1, 10.2, 14849.9, 3.8, 72.5)
names(exchange_rates) <- c("Singapore", "Albania", "Argentina", "Hong Kong", "Portugal", "Korea", "Madagascar", "Morocco", "Indonesia", "Saudi Arabia", "Slovakia")

asian_exchange_rates <- exchange_rates[c(1, 4, 6, 9, 10)]
european_exchange_rates <- exchange_rates[c(2, 5, 11)]
sort(asian_exchange_rates, decreasing = FALSE)
sort(european_exchange_rates, decreasing = TRUE)

## Question 4

You are working as an analyst for The Hollywood Reporter. Your company is making a preliminary analysis of the financial performance of the major production studios to create an annual report for the industry. Given the information on the Worldwide Box Office Grosses (mln $), find the following indicators for the report:

<table>
  <tr>
    <th></th>
    <th>2010</th>
    <th>2011</th>
    <th>2012</th>
    <th>2013</th>
    <th>2014</th>
    <th>2015</th>
  </tr>
  <tr>
    <td>Disney</td>
    <td>4167</td>
    <td>3140</td>
    <td>3587</td>
    <td>5043</td>
    <td>3917</td>
    <td>4901</td>
  </tr>
  <tr>
    <td>20th Century Fox</td>
    <td>2965</td>
    <td>2838</td>
    <td>3350</td>
    <td>3231</td>
    <td>5796</td>
    <td>3554</td>
  </tr>
  <tr>
    <td>Paramount</td>
    <td>2079</td>
    <td>3122</td>
    <td>1271</td>
    <td>2429</td>
    <td>3248</td>
    <td>1793</td>
  </tr>
</table>

1. Find and print the highest revenue for each studio.
2. Find and print the best year for each studio.

Your outputs should look like this:

In [ ]:
> max_gross
          Disney 20th Century Fox        Paramount 
            5043             5796             3248 

> best_years
          Disney 20th Century Fox        Paramount 
            2013             2014             2014

## Solution 4

In [4]:
#1
years <- c(2010, 2011, 2012, 2013, 2014, 2015)
disney <- c(4167, 3140,	3587,	5043,	3917,	4901)
tc_fox <- c(2965, 2838,	3350,	3231,	5796,	3554)
paramount <- c(2079, 3122,	1271,	2429,	3248,	1793)

max_gross <- c(max(disney), max(tc_fox), max(paramount))
names(max_gross) <- c("Disney", "20th Century Fox", "Paramount")
max_gross

#2
best_years <- c(years[order(disney)][length(disney)], years[order(tc_fox)][length(tc_fox)], years[order(paramount)][length(paramount)])
names(best_years) <- c("Disney", "20th Century Fox", "Paramount")
best_years

          Disney 20th Century Fox        Paramount
            5043             5796             3248

          Disney 20th Century Fox        Paramount
            2013             2014             2014

or alternatively:

In [ ]:
#2

best_years <- c(years[which.max(disney)],years[which.max(tc_fox)],years[which.max(paramount)])
names(best_years) <- c("Disney", "20th Century Fox", "Paramount")
best_years