# Quiz 1 - Vectors

## Question 1

Suppose you have two vectors x and y with the following data:

In [4]:
x <- c(1, 2, 3, 4, 5)
y <- c(2, 3, 5, 6, 7)

In [6]:
sum(x * y)

[1] 82

What is the dot product of x and y?

The answer should be:

In [ ]:
82

## Question 2

MGM's one week weather estimations are respectively 15,16,13,15,14,14,17 C° from Sunday to Saturday. Measured temperatures for that week are 17 C° for each day. 

1. Find the average difference between estimations and real values and round it to 2 decimal places. 
2. Which forecasts coincide with the actual temperature?

Your outputs should be:

In [ ]:
-2.14

Saturday 
      17

In [18]:
estimations <- c(Sunday=15, Monday=16, Tuesday=13, Wednesday=15, Thursday=14, Friday=14, Saturday=17)
round(mean(estimations) - 17, 2)

estimations[estimations > 15]

[1] -2.14

  Monday Saturday
      16       17

In [19]:
estimations > 15

   Sunday    Monday   Tuesday Wednesday  Thursday    Friday  Saturday
    FALSE      TRUE     FALSE     FALSE     FALSE     FALSE      TRUE

## Question 3

Elif and Berkay are students of economics in Boğaziçi University. They are conducting a research about developing countries in their EC208 class. They have a dataset, given below; about some countries' exchange rate vs US Dollars and the subcontinents they are on. The teacher asks Elif to present the exchange rates of all Asian countries on the list in ascending order whereas he asks Berkay to present the exchange rates of all European countries on the list in descending order. 


|Country|Exchange Rate|Region|
|------|------|------|
|Singapore|1.4|Southeast Asia|
|Albania|113|Eastern Europe|
|Argentina|130.6|South America|                                
|Hong Kong|7.8|East Asia|               
|Portugal|0.9|Southern Europe|
|Korea|1291.4|East Africa|
|Madagascar|4096.1|East Africa|
|Morocco|10.2|North Africa|
|Indonesia|14849.9|Southeast Asia|
|Saudi Arabia|3.8|Middle East Asia|
|Slovakia|72.5|Eastern Europe|


Your output should be:

In [ ]:
Singapore Saudi Arabia    Hong Kong   Korea      Indonesia 
  1.4          3.8          7.8       1291.4      14849.9 

Albania Slovakia Portugal 
   113.0   72.5    0.9

In [28]:
exchange_rates <- c(1.4, 113, 130.6, 7.8, 0.9, 1291.4, 4096.1, 10.2, 14849.9, 3.8, 72.5)
names(exchange_rates) <- c("Singapore", "Albania", "Argentina", "Hong Kong", "Portugal", "Korea", "Madagascar", 
                           "Morocco", "Indonesia", "Saudi Arabia", "Slovakia")

sort(exchange_rates[c(1, 4, 9, 10)])
sort(exchange_rates[c("Albania", "Portugal", "Slovakia")], decreasing=T)

   Singapore Saudi Arabia    Hong Kong    Indonesia
         1.4          3.8          7.8      14849.9

 Albania Slovakia Portugal
   113.0     72.5      0.9

In [27]:
?sort

Warning message in file(out, "wt"):
"cannot open file 'C:\Users\zeppy\AppData\Local\Temp\Rtmp4S7N2S\file3eb436fa7348': No such file or directory"Warning message in file(con, "r"):
"cannot open file 'C:\Users\zeppy\AppData\Local\Temp\Rtmp4S7N2S\file3eb436fa7348': No such file or directory"ERROR while rich displaying an object: Error in file(con, "r"): cannot open the connection

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. repr::mime2repr[[mime]](obj)
8. repr_latex.help_files_with_topic(obj)
9. repr_help_files_with_topic_generic(obj, Rd2latex)
10. capture.output(Rd2_(rd, package = pkgname, outputEncoding = "UTF-8"))
11. evalVis(expr)
12. withVisible(eval(expr, pf))
13. eval(expr, pf)
14. eval(expr, pf)
15. Rd2_(rd, package = pkgname, outputEncoding = "UTF-8")
16. .Rd_get_latex(.Rd_get_section(Rd, "title"))
17. readLines(tf, warn = FALSE, encoding = "UTF-8")
18. file(con, "r")

## Question 4

You are working as an analyst for The Hollywood Reporter. Your company is making a preliminary analysis of the financial performance of the major production studios to create an annual report for the industry. Given the information on the Worldwide Box Office Grosses (mln $), find the following indicators for the report:

<table>
  <tr>
    <th></th>
    <th>2010</th>
    <th>2011</th>
    <th>2012</th>
    <th>2013</th>
    <th>2014</th>
    <th>2015</th>
  </tr>
  <tr>
    <td>Disney</td>
    <td>4167</td>
    <td>3140</td>
    <td>3587</td>
    <td>5043</td>
    <td>3917</td>
    <td>4901</td>
  </tr>
  <tr>
    <td>20th Century Fox</td>
    <td>2965</td>
    <td>2838</td>
    <td>3350</td>
    <td>3231</td>
    <td>5796</td>
    <td>3554</td>
  </tr>
  <tr>
    <td>Paramount</td>
    <td>2079</td>
    <td>3122</td>
    <td>1271</td>
    <td>2429</td>
    <td>3248</td>
    <td>1793</td>
  </tr>
</table>

1. Find and print the highest revenue for each studio.
2. Find and print the best year for each studio.

Your outputs should look like this:

In [ ]:
> max_gross
          Disney 20th Century Fox        Paramount 
            5043             5796             3248 

> best_years
          Disney 20th Century Fox        Paramount 
            2013             2014             2014

In [29]:
years <- c(2010, 2011, 2012, 2013, 2014, 2015)
disney <- c(4167, 3140,	3587,	5043,	3917,	4901)
tc_fox <- c(2965, 2838,	3350,	3231,	5796,	3554)
paramount <- c(2079, 3122,	1271,	2429,	3248,	1793)

In [33]:
best_years <- c(max(disney), max(tc_fox), max(paramount))
names(best_years) <- c(" Disney", "20th Century Fox",        "Paramount")
best_years

          Disney 20th Century Fox        Paramount
            5043             5796             3248

In [39]:
years[order(disney)[length(disney)]]
years[order(tc_fox)[length(tc_fox)]]

[1] 2013

[1] 2014

In [ ]:
years