# Final Exam

## Question 1

There is a bookshelf with a certain width and a list of books to be placed on the bookshelf. Books on the list will be placed on the bookshelf one by one preserving the ordering on the list. Some books may be left out if the bookshelf is not wide enough to fit all books on the list. 

Write a function called ``bookshelf`` whose inputs are as follows:

- A numeric vector containing the thickness of the books in cm's
- Width of the bookshelf in cm's

``bookshelf`` should put as many books as possible on the bookshelf, starting from the first book and moving down the list one by one. It should return the number of books placed on the bookshelf, as well as the empty space left on the bookshelf as a named vector in the following manner:

```r
bookshelf(c(7,5,10,6,8,5,9,11),50)

Number of books Remaining space 
              7               0 
```

Here's two more examples:

```r
bookshelf(c(6,8,5,5,12),40)

Number of books Remaining space 
              5               4 


bookshelf(c(7,5,10,6,8,5,9,11),50)

Number of books Remaining space 
              7               0 
```

In [1]:
a = 5

In [1]:
# solution
bookshelf = function(books,width)
{
   thickness = 0
   book_count = 0
   while (thickness <= width)
   {
     if (book_count == length(books)) break 
     if (thickness + books[book_count + 1] > width) break
     book_count = book_count + 1
     thickness = thickness +  books[book_count]
   }
   output = c(book_count,width-thickness)
   names(output) = c("Number of books","Remaining space")
   return(output) 
}

# examples
bookshelf(c(4,7,5,8,5,9),30)
bookshelf(c(6,8,5,5,12),40)
bookshelf(c(7,5,10,6,8,5,9,11),50)

# test cases
bookshelf(c(8,6,11,15,4,7,3,12,9),60)
bookshelf(c(10,8,6,7,8,4,6),50)
bookshelf(c(5,9,4,6,11,5),40)
bookshelf(c(7,8,12,10,6,4,8,5),50)

Number of books Remaining space
              5               1

Number of books Remaining space
              5               4

Number of books Remaining space
              7               0

Number of books Remaining space
              7               6

Number of books Remaining space
              7               1

Number of books Remaining space
              6               0

Number of books Remaining space
              6               3

## Question 2

Write a function called 'compare_lists' that compares the elements within two lists and produces a numeric vector as the output. This function is should have the following inputs and outputs:

- **Input:** two lists, where each list comprises elements that can be numeric, character, or logical vectors
- **Output (return):** a numeric vector (should have the same length as the length of the two lists)

Assuming that the two lists will have the same length: for each element in the lists, the function will assign values of 0, 1, or 2 based on the outcome of the comparisons:

- If the corresponding elements in the input lists share the same type and length, the output vector element is assigned the value 2.

- In cases where the corresponding elements in the input lists have the same type but differ in length, or if they possess the same length but differ in types, the output vector element takes the value 1.

- If none of the aforementioned conditions are satisfied, the output vector element assumes the value 0.

Keep in mind that the function is expected to handle lists of variable lengths, ranging from 1 to infinity. The length of the first list and the second list will always be equal, and will be the same as the length of the output numeric vector.

In [7]:
# Solution
compare_lists <- function(list1, list2) {
comp11 <- sapply(list1, length)
comp12 <- sapply(list2, length)
comp21 <- sapply(list1, "class")
comp22 <- sapply(list2, class)

res1 <- comp11 == comp12  
res2 <- comp21 == comp22
return(res1 + res2)
}

In [16]:
#### Examples


list1_case1 <- list(c(1, 2), "pencil", TRUE)
list2_case2 <- list(c(1, 2, 3), "book", TRUE)
compare_lists(list1_case1,list2_case2)

list1 <- list(c(1, 2), c("pencil","book"), c(TRUE,FALSE,TRUE), "nineteen")
list2 <- list(c("a", "b", "c"), "pencil", c(TRUE,T,T), 19)
compare_lists(list1, list2)

[1] 1 2 2

[1] 0 1 2 1

In [15]:
# Test cases

list1 <- list(c("a", "b", "c"), 1, FALSE, c(1, 2, 3), "book")
list2 <- list(c(1, 2, 3), "book", TRUE, c(FALSE, TRUE), 16)
compare_lists(list1,list2)

list1 <- list(c(1, 2, 3), "book", c(1,2))
list2 <- list(c("a", "b", "c"), "pencil", c(TRUE,T,T))
compare_lists(list1, list2)

list1 <- list(32, TRUE, 1, c(1,2))
list2 <- list(3, c(TRUE,T,T), c(FALSE, TRUE), 16)
compare_lists(list1, list2)

[1] 1 1 2 0 1

[1] 1 2 0

[1] 2 1 0 1

## Question 3

Define a function called *numeric_ranges* that calculates the range of each numeric column in a data frame. The function should:

- accept a data frame (df) as input
- return a data frame 

The function should operate exclusively on the numeric columns of the data frame. Its purpose is to compute the range, defined as the difference between the maximum and minimum values, for each numeric column. The function will then provide a summarized data frame containing this information.

The data frame returned from the function is expected to contain two columns with the names: "column_name" and "range." The "column_name" denotes the names of the numeric columns from the original data frame, while the "range" column represents the calculated range of values for each respective column.

For instance, if df contained three numeric columns (“height”, “weight”, “age”) with ranges 20, 30, and 40
respectively, the output would be:

| column_name | range |
|-------------|-------|
| age         | 40    |
| weight      | 30    |
| height      | 20    |

Notes:
- The function should return a data frame even if there's only one numeric column in the input data frame.

- For determining if a column is numeric, you can use the function on is.numeric().

In [2]:
# Solution
numeric_ranges <- function(df) {
  range_frame <- data.frame(column_name = character(0), range = integer(0))
  column <- colnames(df)
  for (col in column) {
    if (is.numeric(df[, col])) {
      range1 <- max(df[, col]) - min(df[, col])
      range_frame <- rbind(range_frame, data.frame(column_name = col, range = range1))
    }
  }
  return(range_frame)
}

In [17]:
# Examples
numeric_ranges(iris)

  column_name  range
1 Sepal.Length 3.6
2 Sepal.Width  2.4
3 Petal.Length 5.9
4 Petal.Width  2.4

In [4]:
numeric_ranges(ChickWeight)

  column_name range
1 weight      338
2 Time         21

In [3]:
numeric_ranges(mtcars)

   column_name range
1  mpg          23.500
2  cyl           4.000
3  disp        400.900
4  hp          283.000
5  drat          2.170
6  wt            3.911
7  qsec          8.400
8  vs            1.000
9  am            1.000
10 gear          2.000
11 carb          7.000

In [23]:
numeric_ranges(PlantGrowth)

  column_name range
1 weight      2.72

In [4]:
numeric_ranges(ToothGrowth)

  column_name range
1 len         29.7
2 dose         1.5