In [ ]:
options(jupyter.rich_display = F)

# USING THE DATA OF CARS

## QUESTION

1) There is a data frame in R named **mtcars**. Assign it to **car_data**.

2) Access Toyoto Coralla's horse power(**hp**). (Toyota Coralla is at 20th row).And access 20th row and 4th column via matrix-like indexing.

3) Access **car_data**'s **disp** column and find the mean.

## SOLUTION

# USING THE DATA OF AIRQUALITY

## QUESTION

**airquality** is a data frame of New York air quality measurements.
 
1) Our first aim is to construct a new data frame called **may** with the elements of May.

2) If the temperature is higher than 65 among the elements of may, construct another data frame called **anormal** with these elements.

3) Lastly find the day with the highest **solar.R** and assign it to a vector named **not_sustainable**.

## SOLUTION

# THE EASIEST ONE

## QUESTION

1) Create **name** vector with names as Ali, Veli, Selami, Seher, Nalan.

2) Create **ages** vector with numbers 21, 23, 24, 22, 20 in the given order.

3) Create **management** vector with logical variables T, F, F, T, T.

See: These arguments that are in vectors are given in order and associated with each other according to their order. 

4) Create a data frame called **people** which holds all of these argument with the order associated with their question numbers.

```R
> people
    name ages management
1    Ali   21       TRUE
2   Veli   23      FALSE
3 Selami   24      FALSE
4  Seher   22       TRUE
5  Nalan   20       TRUE
```

## SOLUTION

# EXAM

## QUESTION

1) Create tree vectors named **names**, **score** and **attempt**. Names are Yeliz, Zeynep, Seyma, Feryal, Esma.
Scores are 13, 45, 32, 68, 19 and attempts are 1, 1, 3, 2, 4.

2) Create a data frame named **exam** using these vectors.

3) Give the scores as a vector and dataframe. See the class of these.

## SOLUTION

# TURKISH POP

## QUESTION

1) Create a data frame which includes Turkish pop singers Edis, Hande Yener, Aleyna Tilki, Tarkan and their ages which are 28, 45, 18, 46 respectively. Name the data frame as **df1**.

2) Then create a data frame which involves these singers and their excellence scores out of 10. The scores are 8, 8, 9.8, and 10 respectively. Name the second data frame as **df2**.

3) By merging (using the "inner join" method) these two data frames you created, create a new dataframe called **tpop_singers**.

Your final result should look like this:

```r
tpop_singers

  Name         ages scores
1 Aleyna Tilki 18    9.8  
2 Edis         28    8.0  
3 Hande Yener  45    8.0  
4 Tarkan       46   10.0  
```

## SOLUTION

# DREAM CARS

## QUESTION

- There is a built-in data frame called cars in R. We will use this to create another data frame.

1) Set seed to 10.

2) Create a sample of length 50, consisting of "L" and "K" which symbolizes Luks and Kulustur and assign it to **boyle**.

3) Create a data frame called **kars** which has speed, boyle and distance as arguments in given order. Speed and distance arguments are coming from built-in data frame cars.

4) Create a vector consisting of built-in letters and LETTERS vectors without including the last arguments of them. This vector should have length of 50 and call it **letLET**.

5) Change the row names of kars to letLET. First few rows of the data frame should look like this:

```r
     speed	  boyle	  dist
a	  4	      L	      2
b	  4	      L	     10
c	  7	      K	      4
d	  7	      K	     22
e	  8	      K	     16
f	  9	      L	     10

```

## SOLUTION

# FAT GETS WATER

## QUESTION

1) 5 people go to a bar, create a data frame called **person** with the information below.
    
- Their names are Marx, Engels , Smith , Ricardo  and Bakunin
- Their ages are respectively 42,30, 46, 33, and 35 in column age
- Their weights are respectively 80, 62, 75, 65, and 78 in column weight 

2) Add a new column containing boolean entities called greater.than.mean.weight and in that column indicate if the person's weight is greater than the mean weight of these people.

3) Add a new column named order containing their orders,

- Their orders are respectively whiskey, beer, wine, vodka, vodka.
- Later on, the people whose weights are greater than the mean weight change their orders with water. 


```r
> person
    names age weight greater.than.mean.weight order
1    Marx  42    80                     TRUE water
2  Engels  30    62                    FALSE  beer
3   Smith  46    75                     TRUE water
4 Ricardo  33    65                    FALSE vodka
5 Bakunin  35    78                     TRUE water
```

## SOLUTION

# HONEYMOON

## QUESTION

Jake and Amy want to decide where to go for honeymoon. Jake found 5 hotels online and noted their rates given by previous visitors, Amy got information about 5 hotels, their prices for one night (in dollars) and whether the hotel has room service or not.

Jake's notes:

|Hotels|Rate|
|---|---|
|Rome Times|8.6|
|Myriad|9.3|
|Oderberger|8.8|
|Boho|8.4|
|Laslett|9.0|

Amy's notes:

|Hotels|Prices|Room_Service|
|---|---|:-:|
|Rome Times|117|Yes|
|Myriad|186|Yes|
|Oderberger|123|No|
|Boho|158|No|
|Holiday Inn|140|Yes| 


1) Create two data frames named **Jake** and **Amy** that hold the given data.The columns of the data frames should be arranged as the tables above (Hotels and Rate for **Jake** ; Hotels, Prices, and Room_Service for **Amy**). Use Boolean expressions for information about room service. You can copy the code below to start.

~~~~
hotels <- c("Rome Times","Myriad","Oderberger","Boho","Laslett","Holiday Inn")
prices <- c(117,186,123,158,140)
rates <- c(8.6,9.3,8.8,8.4,9.0)
room_service <- c(T,T,F,F,F)
~~~~

2) Create a function named **honey** that takes 3 arguments; 
* **df1** and **df2** :two data frames with default values **Amy** and **Jake** respectively 
* **bdgt**: the amount of money that this couple can spend for one night at a hotel, with default value = 150.

Your function should do the following:
 
 * If bdgt is more than or equal to the most expensive hotel's price, it will return a data frame which contains information about all of the hotels - Even if they contain missing data.
 
 * If bdgt is less than the most expensive hotel's price but more then the cheapest hotels's price, it should update df1 into a new data frame which only holds information about hotels rated higher than 8.5 and update df2 into a new data frame which only holds hotels that are priced under bdgt. Then, return a data frame which reflects the intersection of these new data frames. 
 
 * If bgdt is less than the cheapest hotel's price, the function should return "FIND ANOTHER ONE"
 
 Here are two examples:
 
 ~~~~
 honey()
      Hotels        Price    Room_Service  Rate
1 Oderberger     123         FALSE      8.8
2 Rome Times     117          TRUE      8.6

 ~~~~
~~~~
honey(,,100)
[1] "FIND ANOTHER ONE"
~~~~

## SOLUTION

# ORANGE

## QUESTION

Ömer wants to find the average circumference of different types of orange trees and will use the built-in **Orange** data frame in R.

1) Create a function called **cim_mean** that takes 1 argument **Otrees**, a dataframe that has 5 different tree types in the first column and circumference in its third column, and calculates the average circumference of each tree type. The function should return a vector of circumference means as such:

```r
cim_mean(Orange)

Type 1
    99.5714285714286
Type 2
    135.285714285714
Type 3
    94
Type 4
    139.285714285714
Type 5
    111.142857142857

```

## SOLUTION

# WHICH MALL TO CHOOSE ?

## QUESTION

Meycem needs to go to the mall urgently because she needs to buy some clothes for an interview which is in 3 hours.  She has 3 malls that are close to her. The first mall (*mall1*) is 5 kms, the second mall (*mall2*) is 15 kms, the third mall (*mall3*) is 13 kms away from her. She also wants some particular stores to be in the mall she chooses to go. The first mall and third mall have all the wanted stores, but the second mall doesn't. The total stores in *mall 1* is 63, in *mall 2* it is 46, in *mall 3* it is 25. All of the 3 malls have parking space. 

In the matrices below the distances between the stores in each mall is given. Since Meycem has very limited time,  she wants to choose the mall where her walking distance between the stores is minimized so she can make this shopping as fast as possible and make it in time for her interview.

```r 
                                      
           Mall 1                
       store1 store2 store3     
store1      0     94    143
store2     94      0    335    
store3    143    335      0  

          Mall 2
       store1 store2 store3
store1      0     84    361
store2     84      0    521
store3    361    521      0

          Mall 3
       store1 store2 store3
store1      0     58    448
store2     58      0    146
store3    448    146      0


```

1) Vectorize the information of including all wanted stores under the name **wstores**.

2) Vectorize the information of the distances to the malls under the name **malldist**.

3) Vectorize the information of the total number of stores under the name **totalst**.

4) Vectorize the information of having a parking space under the name **parksp**.

5) Use these vectors to create a data frame named **whmall** .
 
6) To fulfill the condition, create a vector named **shortest**, which will take two arguments, a matrix (*mt*)  that shows the distances between stores, and the order (*ord*) which Meycem will follow when shopping. Meycem will first visit store 3, then store 1 and finally store 2. The function should sum the distances between the stores to show in which mall the distances between the stores is minimized.

7) Vectorize Meycem's order of visiting the stores under the name **ordm**. Define the matrices, use them and the vector **ordm** to find the sums for each malls walking distance.

8) Vectorize these walking distances under the name **walkdist** and add this to your data frame and name your new data frame **new_whmall**.

Your ending data frame should look like the following:

```r 
      has_all_stores distance total_stores has_park walkdist
mall1           TRUE        5           63     TRUE      237
mall2          FALSE       15           46     TRUE      445
mall3           TRUE       13           25     TRUE      506

```

The information for the matrices is below, you can copy them for convenience.

```r 
a1 <- c(0, 94, 143)
a2 <- c(94, 0 , 335)
a3 <- c(143 , 335, 0)
matr1 <- matrix(c(a1,a2,a3), ncol = 3 , byrow = T)
rownames(matr) <- c("store1", "store2", "store3")
colnames(matr) <- c("store1", "store2", "store3")


a4 <- c(0, 84, 361)
a5 <- c(84, 0, 521)
a6 <- c(361, 521, 0)
matr2 <- matrix(c(a4,a5,a6), ncol = 3 , byrow = T)
rownames(matr2) <- c("store1", "store2", "store3")
colnames(matr2) <- c("store1", "store2", "store3")



a7 <- c(0, 58, 448)
a8 <- c(58 , 0, 146)
a9 <- c(448, 146, 0)
matr3 <- matrix(c(a7,a8,a9), ncol = 3 , byrow = T)
rownames(matr3) <- c("store1", "store2", "store3")
colnames(matr3) <- c("store1", "store2", "store3")
```

## SOLUTION

# SMURFING SMURFS WITH SMURFICIDE

## QUESTION

Gargamel wants to kill smurfs in his house using some special kind of insecticide called smurficide. To pick the worst possible way of death for smurfs, he decides to make a mixture of the insecticides that kills smurfs the most slowly and  that have a detestable flavor for smurfs. 

There is a build in data set named **InsectSprays** in your R Studio. Count column shows how many minutes it takes for smurficide to kill a smurf, and spray column is for the flavor of smurficide which are *A* for almonds, *B* for brownies, *C* for chocolate, *D* for donuts, *E* for ethil alcohol, *F* for fruits. Gargamel also knows that smurfs hate brownies and almonds.

He will prepare the mixture of smurficides using all the slowest killing ones along with the slowest killing sprays of each detestable flavor.

1) Create a function named **smurficide** which takes one argument named **dta**. This function should determine the slowest killing sprays, and slowest killing sprays from each flavor that smurfs hate. 

2) The function should return all the sprays Gargamel will use to prepare his mixture as such 


```r
    count spray
1    21     B
2    21     B
3    23     A
4    26     F
5    26     F

```

## SOLUTION