# First steps in R

### Lab Exercise 1

Given the variables

    A <- 13
    B <- 27
    C <- 14

find the sum, mean and product of the three numbers.

In [5]:
A <- 13
B <- 27
C <- 14

In [14]:
sum <- A + B + C
mean <- sum / 3
product <- A * B * C

sum
mean
product

[1] 54

[1] 18

[1] 4914

### Lab Exercise 2

Given the variables

    num1 <- 13
    num2 <- 5

find the difference, power and remainder of the two numbers.

In [19]:
num1 <- 13
num2 <- 5

num1 - num2
num1 ^ num2
num1 %% num2

[1] 8

[1] 371293

[1] 3

In [21]:
5 %% 5

[1] 0

### Lab Exercise 3

Using the formula below of compound interest, take the principal amount (A), interest rate (i) (per month) and duration (n) (months) and print the final amount.

<img src="https://render.githubusercontent.com/render/math?math=\large S = A * (1 %2B i/100)^{n}">

| Input     | Output  |
| --------- | ------- |
| 1000 12 5 | 1762.34 |
| 500 12 5  | 881.17  |

In [25]:
A <- 500
i <- 12
n <- 5

S <- A * (1 + i / 100) ^ n
S

[1] 881.1708

### Lab Exercise 4

How many seconds are there in 5 years, 2 months, 4 days, 3 hours and 2 minutes?

* 1 year = 365 days
* 1 month = 30 days

In [4]:
PV <- 1000
FV <- PV * (1 + 0.08)^5
FV

[1] 1469.328

In [6]:
Short_songs <- (3*60+30)*6
Medium_songs<-5*60*6
Long_songs <- (8*60+30)*6
Breaks<-17*30


Total_song_length_in_seconds<-Short_songs+Medium_songs+Long_songs+Breaks

Total_song_length_in_hours<-Total_song_length_in_seconds / 3600
rounded<-round(Total_song_length_in_hours,2)
compare<- 2 >rounded

Total_song_length_in_seconds
rounded
compare

[1] 6630

[1] 1.84

[1] TRUE

In [3]:
weekly_sum <- 0.895 + 3.101 + 1.708 + 1.800 + 1.543 + 1.707 + 2.592
weekly_rate <- weekly_sum / 7
weekly_rate
round(weekly_rate, 3)

[1] 1.906571

[1] 1.907

In [7]:
w <- 80
h <- 175
a <- 40

bmr_1 <- (10 * w) + (6.25 * h) - (5 * a) + 5 
daily_calorie_intake_1 <- bmr_1 * 1.725
daily_calorie_intake_1

w <- 63
h <- 168
a <- 26

bmr_2 <- (10 * w) + (6.25 * h) - (5 * a) - 161
daily_calorie_intake_2 <- bmr_2 * 1.2
daily_calorie_intake_2

[1] 2930.344

[1] 1666.8

In [8]:
kilograms <- c(80, 93, 147, 53, 71, 18, 140)
pounds <- kilograms * 2.20462
pounds

[1] 176.36960 205.02966 324.07914 116.84486 156.52802  39.68316 308.64680

In [12]:
student_grades <- c(Jason=46, Lydia=98, Scott=51, Stiles=84, Allison=76)
student_grades

student_ids <- seq(from=1000, to=1004, by=1)
names(student_ids) <- names(student_grades)
student_ids

  Jason   Lydia   Scott  Stiles Allison
     46      98      51      84      76

  Jason   Lydia   Scott  Stiles Allison
   1000    1001    1002    1003    1004

In [14]:
estimations <- c(Sunday=15, Monday=16, Tuesday=17, Wednesday=15, Thursday=14, Friday=14, Saturday=17)
estimations
mean_error <- mean(estimations - 17)
mean_error
estimations[estimations-17 == 0]

   Sunday    Monday   Tuesday Wednesday  Thursday    Friday  Saturday
       15        16        17        15        14        14        17

[1] -1.571429

 Tuesday Saturday
      17       17